@charset=utf-8
/* CSS Document */
/*全局样式*/
*{margin:0; padding:0;}
body{font-family:"宋体"; font-size:14px; color:#666; background:#fff;}
li{list-style:none;}
a{ text-decoration:none; color:#000;}
.clearfix:after{content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
.wrap{width:1000px; margin:0 auto;}
/*top*/
.top{background:#545652;height:20px;}
.top ul li span{float:right;}
.top ul li a{color:#fff;}
.top ul li a:hover{color:#999;}

.banner{margin-left:-100px;margin-top:30px;height:600px;}
.banner .nav1{position:relative;left:1000px;height:20px;line-height:20px;padding-bottom:10px;}
/*nav*/
.nav .left{margin-left:20px;width:130px;height:510px;float:left;border:1px solid #000;}
.nav .left ul li{padding-top:15px;padding-left:20px;/*border-bottom:1px solid #CCC;*/}
.nav .left ul li a{display:block;width:124px;height:40px;line-height:20px;}
.nav .left ul li .hide{display:none;position:absolute;padding-left:10px;left:230px;width:250px;border:1px solid #999;background:#FFF;z-index:1000;}
.nav .left ul li:hover .hide{display:block;}
.nav .left ul li .hide a{float:left;}
/*main1-mid*/
#myFocus{ width:950px; height:500px;clear:both;}

/*mainn*/
.main{margin-top:-10px;}
.main h2{text-align:center;padding-bottom:20px;}
.main dl{float:left;padding-left:50px;padding-bottom:20px;width:277px;}
.main dl dd a{color:#F30;}
.main dl a:hover{color:#F60;border-bottom:1px solid #960;}
/*mian2*/
.main2{margin-top:50px;}
.main2 h2{position:relative;left:150px;padding-bottom:30px;}
.main2 dl{float:left;padding-left:50px;padding-bottom:20px;width:443px;}
.main2 dl dd a{color:#F30;}
.main2 h3{text-align:center;padding-bottom:20px;}
.main2 dl a:hover{color:#F60;border-bottom:1px solid #960;}
/*footer*/
.footer{clear:both;border-top:1px dashed #CCC;padding-top:20px;padding-top:50px;}
.footer .dleft{padding-left:-150px;}
.footer .dleft ul li a{color:#363;}
.footer .dright ul{float:right;margin-top:-80px;position:relative;left:-200px;}
.footer .dright ul li{float:left;margin-left:-15px;position:relative;left:350px;}
.footer .dright ul li a{color:#036;}
.footer .dright ul li a:hover{background:#09F;}
.footer .dright ul li img{margin-top:20px;position:relative;left:-420px;}